version: "3.8"

services:
  welcome:
    build: .
    container_name: welcome
    expose:
      - "3000"
    restart: unless-stopped
    networks:
      - proxy-net

networks:
  proxy-net:
    external: true
