/* Base Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background-color: #ffffff;
    color: #000000;
}

.container {
    position: relative;
    width: 90%;
    max-width: 1200px;
    margin: 25px auto;
    overflow: visible;
}

.description {
    text-align: center;
    margin-bottom: 2rem;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.language-switcher {
    position: absolute;
    right: 0;
    z-index: 1000;
}

.language-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    transition: transform 0.2s;
}

.language-button img {
    width: 32px;
    height: 32px;
    vertical-align: middle;
    margin-left: 3px;
    opacity: 0.8;
}

.view-icon {
    width: 32px;
    height: 32px;
    vertical-align: middle;
    margin-left: 3px;
    opacity: 0.8;
}

.language-button:hover,
.view-icon:hover {
    transform: scale(1.1);
}

.language-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    min-width: 140px;
    z-index: 1000;
}

.language-menu.visible {
    display: block;
}

.language-option {
    display: block;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 14px;
    transition: background 0.2s;
    border-radius: 16px;
    color: #000000;
}

.language-option:hover {
    background: #f0f0f0;
}

.language-option.active {
    font-weight: 500;
    background: wheat;
    color: #000000;
}

.link-button {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 100px;
    text-decoration: none;
    color: #000000;
    background-color: wheat;
    user-select: none;
}

.timeline::before {
    background-color: #ccc;
}

/* Dark Theme Overrides */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
        color: #e0e0e0;
    }

    a {
        color: #6db4ff;
    }
    a:hover {
        color: inherit;
    }

    .timeline::before {
        background-color: #444;
    }

    .link-button {
        background-color: #b39cd0;
        user-select: none;
    }

    .language-button img,
    .view-icon {
        filter: invert(24%) sepia(0%) saturate(1352%) hue-rotate(180deg)
            brightness(97%) contrast(0);
    }

    .language-menu {
        background: #212121;
        border: 1px solid #000000;
    }
    .language-option {
        color: #ffffff;
    }
    .language-option.active {
        color: black;
    }
    .language-option:hover {
        background: #333;
    }
    .language-option.active {
        background: #b39cd0;
    }
}
